<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.jizzu.simpletodo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".ui.view.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.task.AddTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.view.task.EditTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.view.task.TaskNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.settings.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.ChangelogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.MainIntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".ui.view.SearchActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".service.alarm.AlarmReceiver"
            android:process=":remote" />
        <receiver android:name=".service.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>
    </application>
</manifest>